# Ignore virtual environment
env/
ENV/
venv/
.VENV/
.venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# macOS files
.DS_Store

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.cache

# Ignore fineweb folder
edu_fineweb10B/

# Ignore hellaswag folder
hellaswag/

# Ignore log folder
log/